.m_margin_page{
    margin: 0 auto; 
    margin-left: 10%;
    margin-right: 10%;
}

.debug-red{
    background-color: red;
    border: 1px solid black;
    height: 100px;
}

.debug-yellow{
    background-color: yellow;
    border: 1px solid black;
    height: 100px;
}

.m_text_right{
    text-align: right;
}

.img-jumbo{
    margin-top:50px;
    height: 200px;
}

.divider{
    border: 2px solid black;
    border-radius: 50px;;
    width: 100px;
    margin: 10px;;

}

.m_divider_star{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;


}
